<p>customer-list works!</p>
<button (click)="refreshCustomers()">Refresh the customers list</button>

<div *ngIf="customers.length > 0; else empty">

<ds-customer-detail [customerField]=selectedCustomer></ds-customer-detail>

	<h2>{{ customers.length }} Customers</h2>
	<table>
		<tr>
			<td>Id</td>
			<td>External Id</td>
		</tr>

		<tr *ngFor="let customer of customers; even as isEven"
			[style.color]="isEven ? 'grey'
: 'black'"
			(click)="selectCustomer(customer)">
			<td>{{ customer.id }}</td>
			<td>{{ customer.externalId }}</td>
		</tr>

	</table>
</div>
<ng-template #empty>
<h2>No Customers.</h2>
</ng-template>

