<p>Customer External Id: {{customer?.externalId}}</p>
<p>Customer Id: {{customer?.id}}</p>

<div *ngIf="customer.contracts.length > 0; else empty">

	<h2>{{ customer.contracts.length }} Contracts</h2>
	<table>
		<tr>
			<td>Id</td>
			<td>Type</td>
		</tr>

		<tr *ngFor="let contract of customer.contracts; even as isEven"
			[style.color]="isEven ? 'grey'
: 'black'">
			<td>{{ contract.idContract }}</td>
			<td>{{ contract.type }}</td>
		</tr>

	</table>
</div>
<ng-template #empty>
<h2>No Contracts.</h2>
</ng-template>